.message{
    padding: 0 10px;
    margin: 0 10px;
    width: fit-content;
}

.message_user{
    margin-left: auto;
    color: white;
    text-align: left !important;
}

.userDisplayDiv{
    text-align: left;
}

.MuiCardContent-root{
    padding-bottom: 14px !important;
}

.userDisplay{
    color: gray;
    margin-left: 2px;
    margin-bottom: 2px;
}

.message_userCard{
    background-color: #0b81ff !important;
}

.message_userFont{
    color: white;
}

.message_guestCard{
    background-color: #e9e9eb !important;
}